body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f8fa;
  color: #222;
}

.header {
  text-align: center;
  padding: 25px;
  background: #005eff;
  color: #fff;
}

.btn-center {
  text-align: center;
  margin: 20px 0;
}

.cta-btn {
  display: inline-block;
  background: #00b32d;
  color: white;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
}

.tg-btn {
  display: inline-block;
  background: #0088cc;
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none;
}

#monetag-ad-area {
  width: 100%;
  max-width: 350px;
  margin: 25px auto;
  padding: 10px;
  border: 1px dashed #bbb;
  text-align: center;
  background: #fff;
}

.footer {
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  color: #777;
}
